.score-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
  
.score-title {
    color: white;
    text-align: center;
    margin-top: 4rem;
}

.score-progress { 
    --size: 12rem;
    --thickness: 1rem;
    --color-track: rgba(255, 255, 255, 0.2);
    --color-range: #4CAF50;
    margin-top: 1.5rem;
    display: relative;
}
  
.score-circle {
    width: var(--size);
    height: var(--size);
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.score-track {
    stroke: var(--color-track);
    stroke-width: var(--thickness);
}
  
.score-range {
    stroke: var(--color-range);
    stroke-width: var(--thickness);
    stroke-linecap: round;
}
  
.score-value-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.score-value {
    color: white;
    font-size: 3.5rem;
    font-weight: 500;
}