.website-card-wrapper {
    list-style: none;
    width: 100%;    
}

.website-card-link {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.website-card:hover {
    background-color: #121212;
}

.website-card-link:hover {
    color: white;
}

.website-card {
    background-color: var(--terciary-color);
    border-radius: 3rem;
    padding: 4rem;
    width: 100%;
}

.website-card-above {
    width: 100%;    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.website-info {
    display: flex;
    gap: 1rem;
}

.website-info > img {
    width: 3rem;
}

.website-name-url {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.website-name-url span {
    word-break: break-all;
}

.website-card-url {
    color: rgb(155, 154, 154);
}

.website-last-eval-score {
    display: flex;
    gap: 3rem;
}

.website-card-last-eval {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.website-card-last-eval-date {
    color: rgb(155, 154, 154);
}

.website-score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-score > span {
    background-color: #37de1d49;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2rem;
}

.website-card-under {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.website-stats {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.website-stats > li {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.website-stats > li > span:first-child {
    color: rgb(155, 154, 154);
}

.website-card-webpages {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.website-card-webpages > span:first-child {
    color: rgb(155, 154, 154);
}
