@media (max-width: 60rem) {

    .compare-evaluations {
        height: 100vh;
        align-items: flex-start;
    }

    .compare-evaluations-wrapper {
        justify-content: flex-start;
        margin-left: 0 !important;
    }
}

@media (max-width: 78rem) {
    .compare-evaluations {
        height: 100vh;
        align-items: flex-start;
    }
    
}

.compare-evaluations {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
}

.compare-evaluations-wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: clamp(1rem, 5vw, 3rem) clamp(1rem, 5vw, 5rem);
    border-radius: clamp(1rem, 5vw, 3rem);
    gap: 3rem;
}

.compare-evaluations-wrapper > h3 {
    margin: 0;
    text-align: left;
}

.evaluation-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.evaluation-2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.evaluations-selection {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.evaluation-1 > h4, .evaluation-2 > h4 {
    margin: 0;
    text-align: left;
}

.evaluations-selection-button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.compare-evaluations-button {
    background: var(--seondary-color);
    padding: clamp(1rem, 5vw, 1rem) clamp(1rem, 5vw, 2rem);
}

.compare-evaluations-button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.compare-evaluations-button-wrapper > a {
    width: 30%;
    background-color: #FF7C01;
    color: var(--terciary-color);
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compare-evaluations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.select-evaluations {
    display: flex;
    width: 100vw;
    overflow-y: scroll;
    height: 100%;
}

.select-evaluations-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    width: 100%;
}

.compare-evaluations-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 3rem;
}