.issues-container {
    width: 100%;
}

.header {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.pills {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-height: 4rem;
}

.title-pill {
    background-color: #1a1a1a;
    border-radius: 3rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    font-size: var(--h2-font-size);
}
.filter-pills {
    display: flex;
    gap: 1rem;
}

.stats-pill {
    background-color: #1a1a1a;
    border-radius: 3rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 16px;
}

.stat {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stats-pill {
    display: flex;
    gap: 0.9rem;
}

.stats-pill svg {
    width: 1.5rem;
    height: 1.5rem;
}

.stat-success {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.stat-success svg {
    color: #4CAF51;
}

.stat-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.stat-warning svg {
    color: rgb(238, 208, 39);
}

.stat-fail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.stat-fail svg {
    color: rgb(253, 50, 50);
}

.stat-inapplicable {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.issues-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: var(--secondary-color);
    border-radius: 3rem;
    padding: 1.5rem 1.5rem;
}

.issue-item {
    background-color: var(--terciary-color);
    border-radius: 3rem;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
}

.issue-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.globe-icon {
    border-radius: 50%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.issue-url {
    font-size: var(--h1-font-size);
}

.issue-right {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.select-trigger {
    border-radius: 2rem;
    min-height: 3.95rem;
    min-width: 10rem !important;
}

.select-content {
    min-width: 10rem !important;
    background-color: var(--secondary-color) !important;
    }

[data-scope='select'][data-part='root'] {
    min-width: 10rem !important;
}

.select-control {
    max-width: 10rem !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.select-value {
    padding-left: 0.5rem;
    font-size: var(--h1-font-size) !important;
}

.dialog-trigger {
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem
}
.dialog-trigger:hover {
    border-color: white;
}

.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
}
  
.dialog-positioner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    z-index: 101;
}
  
.dialog-content {
    background-color: #222222;
    border-radius: 12px;
    padding: 24px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    color: white;
    position: relative;
}
  
.dialog-title {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1.5rem;
}
  
.dialog-description {
    color: #bbbbbb;
    margin-bottom: 24px;
}
  
.dialog-close-trigger {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    font-size: var(--h1-font-size);
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}
  
.dialog-close-trigger:hover {
    background-color: var(--terciary-color)
}

.radio-group {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    max-width: 200px;
}
  
.radio-group-label {
    font-weight: 600;
    color: white;
    margin-bottom: 0.8rem;
    font-size: 1rem;
}

.radio-group-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.3rem;
    position: relative;
    cursor: pointer;
}

.radio-group-item-text {
    color: white;
    font-size: 14px;
    margin-left: 32px;
}
  
.radio-group-item-control {
    position: absolute;
    left: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.1rem solid #666;
    border-radius: 50%;
}
  
.radio-group-item[data-state="checked"] .radio-group-item-control {
    border-color: white;
}
  
.radio-group-item[data-state="checked"] .radio-group-item-control::after {
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
}
  
.radio-group-item-hidden-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.filters-wrapper {
    padding-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper-dialog-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.wrapper-dialog-buttons > button {
    border-radius: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.wrapper-dialog-buttons > button:hover {
    border-color: white;
}

.wrapper-dialog-buttons > button:active {
    background: white;
    color: var(--terciary-color);
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(219, 219, 219);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle svg {
    width: 0.8rem;
    height: 0.8rem;
    color: var(--secondary-color);
}

.filters-wrapper h3 {
    margin: 0;
    margin-bottom: 0.5rem;
}