.issues-container {
    width: 100%;
}

.header {
    display: flex;
    gap: 16px;
    margin-bottom: 20px;
}

.pills {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 5rem;
    gap: 1rem;
    flex-wrap: wrap;
}

.title-pill {
    background-color: #1a1a1a;
    border-radius: 3rem;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;
}

.title-pill h2 {
    margin: 0;
}

.filter-pills {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.stats-pill {
    background-color: #1a1a1a;
    border-radius: 3rem;
    padding: 1.5rem 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.9rem;
    flex-wrap: wrap;
}

.stat {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stats-pill svg {
    width: 1.5rem;
    height: 1.5rem;
}

.stat-success {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.stat-success svg {
    color: #4CAF51;
}

.stat-warning {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.stat-warning svg {
    color: rgb(238, 208, 39);
}

.stat-fail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.stat-fail svg {
    color: rgb(253, 50, 50);
}

.stat-inapplicable {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.issues-list {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 4rem;
    padding: 2rem 2rem;
    gap: 2rem;
}

.select-trigger {
    border-radius: 4rem;
    min-height: 5rem;
    min-width: 10rem !important;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--secondary-color) !important;
}

.select-content {
    min-width: 10rem !important;
    background-color: var(--secondary-color) !important;
}

[data-scope='select'][data-part='root'] {
    min-width: 10rem !important;
}

.select-control {
    max-width: 10rem !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(219, 219, 219);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle svg {
    width: 0.8rem;
    height: 0.8rem;
    color: var(--secondary-color);
}

.filters-wrapper h3 {
    margin: 0;
    margin-bottom: 0.5rem;
}

.select-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}