.DS_Store
.vscode/
example.json

backend/evaluations/node_modules/

backend/evaluations-database/.venv/
backend/evaluations-database/path/
backend/evaluations-database/.env

backend/protobufs/myenv/

copy_to_server.sh

to_transfer.txt
