.evaluate-wrapper {
    display: flex;
    overflow-y: auto;
    align-items: flex-start;
    overflow-y: scroll;
    height: 100vh;
}

.evaluate-container {
    background-color: var(--secondary-color);
    padding: clamp(1rem, 5vw, 2rem) clamp(1rem, 5vw, 2.5rem);
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    border-radius: clamp(1rem, 5vw, 3rem);
    width: 100%;
    margin: clamp(1rem, 5vw, 2rem) clamp(1rem, 5vw, 2rem);
}

.evaluate-title-container > h2 {
    margin: 0;
}

.evaluate-title-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.evaluate-title-container > svg {
    stroke-width: 0.2rem;
    color: white;
}

.add-webpages-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

.webpages-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: var(--secondary-color);
    padding: 2rem;
    border-radius: 3rem;
    overflow-y: scroll;
    height: 42vh
}

.checkbox-webpage-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--terciary-color);
    padding: 1rem clamp(1rem, 5vw, 2.5rem);
    border-radius: clamp(1rem, 5vw, 3rem);
    text-align: left;
}

.checkbox-webpage {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox-webpage-control {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.evaluate-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.evaluate-button-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;
    justify-content: center;
}

.evaluate-button {
    background: #FF7C01;
    color: var(--terciary-color);
    border-radius: 3rem;
    padding: 1rem clamp(2rem, 5vw, 4rem);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.webpages-add-button-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.checkbox-webpage > span {
    width: fit-content;
    word-break: break-all;
}

.checkbox-webpage-trash-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    margin: 0;
    padding: 0.7rem;
    background: var(--secondary-color);
}

.delete-auth {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.field-selector {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-pass-login-bypass {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
}

.user-pass-login-bypass-input {
    height: 3rem;
    padding-left: 1rem;
    border-radius: 3rem;
    border: 1px solid var(--border-color);
}

.login-bypass-title-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 60rem) {

    .website-dashboard {
        align-items: flex-start;
    }

    .wrapper {
        justify-content: flex-start;
        margin-left: 0 !important;
        height: 100vh;
    }

}

@media (max-width: 78rem) {
    .website-dashboard {
        height: 100vh;
        align-items: flex-start;
    }

}

.loading-spinner {
    width: 1.5rem;
    height: 1.5rem;
    animation: spin 1s linear infinite;
    border: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.select-add-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.checkbox-all {
    cursor: pointer;
}