.webpage-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: clamp(1rem, 5vw, 1.5rem) clamp(1rem, 5vw, 2rem);
    background-color: var(--terciary-color);
    border-radius: clamp(1rem, 5vw, 3rem);
}

.webpage-item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.webpage-item-header h3 {
    margin: 0;
    word-break: break-all;
}

.webpage-icon-url {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.see-comparison {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--secondary-color);
    padding: 0.5rem clamp(1rem, 5vw, 1.5rem);
    border-radius: clamp(1rem, 5vw, 3rem);
}

.webpage-icon-url h3 {
    text-align: left;
    word-break: break-all;
}

.see-comparison {
    text-align: left;
}