html, body {
    height: 100%;
    background-color: var(--primary-color);
    overflow-x: hidden;
    overflow-y: hidden;
}

.website-dashboard {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
    margin-left: 21rem;
    padding: 3rem 2rem;
}