.logout-button {
    background-color: #FF7B00;
    border-radius: 3rem;
    padding: 1.5rem 2rem;
    color: var(--terciary-color);
    z-index: 100;
}

.logout-button:hover {
    background-color: #ff9b3d;
}

.logout-button:active {
    background-color: white;
}