.current-warnings {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
}

.wrapper-warnings-list {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
