:root {
    --primary-color: #313030;
    --secondary-color: #1A1A1A;
    --terciary-color: #0E0D0D;
    --smaller-font-size: 0.8rem;
    --h1-font-size: 0.9rem;
    --h2-font-size: 0.7rem;
    --h3-font-size: 0.9rem;
}

@media (max-width: 48rem) {

    .website-dashboard {
        height: 100vh;
        align-items: flex-start;
    }

    .wrapper {
        justify-content: flex-start;
        margin-left: 0 !important;
    }

    .main-content {
        width: 100%;
        grid-template-columns: minmax(25vw, 1fr) !important;
        grid-template-rows: auto auto auto !important;
    }

    .main-content > .issues-container {
        grid-column: span 1 !important;
    }
}

@media (max-width: 78rem) {
    .website-dashboard {
        height: 100vh;
        align-items: flex-start;
    }

    .main-content {
        grid-template-columns: minmax(25vw, 1fr) !important;
        grid-template-rows: auto auto auto !important;
    }

    .main-content > .issues-container {
        grid-column: span 1 !important;
    }
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
}

.website-dashboard {
    width: 100vw;
    display: flex;
    min-height: 100vh;
    overflow-y: auto;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin-left: 21rem;
    height: 100vh;
    padding-top: 5rem;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(2, minmax(25vw, 1fr));
    grid-template-rows: auto auto;
    gap: 5rem;
    align-items: start;
    justify-items: start;
    width: fit-content;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.score-container, .progress {
    width: 100%;
    height: 25vw;
    border-radius: 4rem;
    background-color: var(--secondary-color);
    min-width: 25rem;
    min-height: 25rem;
}

.issues {
    width: 100%;
    border-radius: 4rem;
    background-color: var(--secondary-color);
    height: fit-content;
}

.main-content > .issues-container {
    grid-column: span 2;
}