.issue-main-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.issue-item-container {
    width: 100%;
}

.issue-item {
    background-color: var(--terciary-color);
    border-radius: clamp(1rem, 5vw, 3rem);
    padding: clamp(1rem, 5vw, 2rem) clamp(1rem, 5vw, 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.issue-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.globe-icon {
    border-radius: 50%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.issue-right {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    border-radius: clamp(1rem, 5vw, 2rem);
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
}

.expanded-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.issue-url {
    word-break: break-all;
    text-align: left;
}