.compare-website-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.compare-website-stat {
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    background-color: var(--secondary-color);
    border-radius: 3rem;
    width: 10rem;
    height: 10rem;
    justify-content: space-between;
}

.compare-website-stat h3 {
    text-align: left;
    margin: 0;
}

.stat-value {
    font-size: 4rem;
    position: relative;
}

.stat-diff {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    top: 0;
    right: 0.5rem;
}

.stat-diff > span {
    font-size: 1rem;
}

.compare-website-stats-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4rem;
}

.failed-tests-stats-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    gap: 3rem;
}

.failed-tests-stats-list {
    width: 95%;
}

.continuous-chart-container {
    width: 90%;
    background-color: var(--secondary-color);
    padding: 3rem;
    border-radius: 4rem;
}

.continuous-chart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.continuous-chart-title {
    padding: 1rem 2rem;
    background-color: var(--secondary-color);
    border-radius: 3rem;
    margin: 0;
}

.continuous-chart-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
}

.select-metric-container {
    display: flex;
    justify-content: flex-start;
    width: 95%;
}