.current-warnings-widget {
    background-color: var(--secondary-color);
    border-radius: clamp(1rem, 5vw, 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(2rem, 5vw, 3rem) clamp(2rem, 5vw, 3rem);
    gap: 2rem;
}

.current-warnings-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.current-warnings-header > h1 {
    font-size: x-large;
}

.current-warnings-counter {
    display: flex;
    align-items: center;
    background-color: var(--terciary-color);
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    gap: 0.5rem;
}

.current-warnings-counter > svg {
    width: 2rem;
    color: rgb(238, 208, 39);
}


.current-warnings-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
}

.wrapper-warnings-list {
    width: 100%;
}