.expanded-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% !important;
    gap: 2rem;
}

.tests-item {
    width: 100%;
}

.tests-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--terciary-color);
    border-radius: 3rem;
    padding: 2rem 2rem;
    gap: 1rem;
}

.tests-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tests-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0rem;
    border-radius: 2rem;
    min-width: 11rem;
}

.wrapper-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.stat-warning {
    min-width: 2.5rem;
}

.tests-title {
    text-align: left;
    word-break: break-all;
}