.expanded-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% !important;
    gap: 5rem;
}

.tests-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--terciary-color);
    border-radius: clamp(1rem, 5vw, 3rem);
    padding: clamp(1rem, 5vw, 2rem) clamp(1rem, 5vw, 2rem);
    gap: 1rem;
}

.tests-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tests-left svg {
    width: 2rem;
    height: 2rem;
}

.tests-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: clamp(1rem, 5vw, 2rem);
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
}

.wrapper-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
}

.stat-warning {
    min-width: 2.5rem;
}

.tests-title {
    text-align: left;
    word-break: break-all;
}

.assertion-state-filter {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}