.history {
    width: 100%;
    max-height: 50rem;
    border-radius: clamp(1rem, 5vw, 4rem);
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.history-title {
    color: white;
    text-align: left;
    margin: 0;
    display: flex;
    align-items: center;
    margin-top: clamp(3rem, 5vw, 5rem);
    margin-left: clamp(3rem, 5vw, 5rem);
}

.history-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-height: 100%;
    padding-top: clamp(1rem, 5vw, 1.5rem);
    padding-left: clamp(1rem, 5vw, 5rem);
    padding-right: clamp(1rem, 5vw, 5rem);
    padding-bottom: clamp(1rem, 5vw, 5rem);
}

.history-list {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 37rem;
    overflow-y: scroll;
}

.history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--terciary-color);
    border-radius: 1rem;
    padding: 1rem clamp(1rem, 5vw, 3rem);
    flex-wrap: wrap;
    gap: 1rem;
}

.webpage-score-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}

.webpage-title-url {
    display: flex;
    flex-direction: column;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    width: 60%;
}

.webpage-title-url > h3 {
    margin: 0;
}

.webpage-title-url > h4 {
    margin: 0;
    color: #a2a2a2;
}

.webpage-score {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.3rem;
    background-color: rgba(255, 221, 0, 0.186);
    border-radius: 2rem;
}

.evaluation-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}