.visualize-dialog-trigger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--terciary-color);
    width: 3rem;
    height: 3rem;
    border-radius: 2rem;
    padding: 0;
}

.visualize-dialog-trigger:hover {
    border-color: white;
}

.visualize-dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    z-index: 100;
}
  
.visualize-dialog-positioner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    z-index: 101;
}
  
.visualize-dialog-content {
    background-color: #222222;
    border-radius: 2rem;
    padding: 24px;
    width: 70vw;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    color: white;
    position: relative;
}

.visualize-dialog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: fit-content;
    padding-bottom: 2rem;
}

.visualize-dialog-title {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.visualize-dialog-wrapper-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    height: fit-content;
}

.visualize-screenshot {
    width: fit-content;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.visualize-screenshot > img {
    width: 60vw;
}

.visualize-dialog-header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
}