.webpages-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--secondary-color);
    border-radius: clamp(1rem, 5vw, 4rem);
    padding: clamp(1rem, 5vw, 2.5rem);
}