.schedule-card {
    background-color: var(--terciary-color);
    border-radius: clamp(1rem, 5vw, 6rem);
    padding: clamp(2rem, 5vw, 3rem) clamp(2rem, 5vw, 3.5rem);
}

.schedule-card-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.schedule-type-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.delete-schedule-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding: 1rem;
    border-radius: 5rem;
}