main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

main > div {
    background-color: var(--secondary-color);
    min-width: 50px;
    min-height: 50px;
}