.schedules-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--secondary-color);
    border-radius: clamp(1rem, 5vw, 3rem);
    padding: clamp(2rem, 5vw, 3rem) clamp(2rem, 5vw, 3rem);
    width: 100%;
}

.schedules-list-title > h2 {
    margin: 0;
    text-align: left;
}

.schedules-list-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    overflow-y: auto;
}

.delete-schedule-button {
    background-color: var(--secondary-color);
}